<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .text-white{
        color:white
    }
</style>
<body style="background-color:black">

    <nav class="navbar" style="background-color:#00a65a">
        <a class="navbar-brand">My Book recommender</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white" style="font-size:50px">Recommend Books</h1>
                <form action="/recommend_desc" method="post">
                    <h1> Enter cluster number</h1><input name="cluster" type="text" class="form-control" id = "cluster">
                    <input name="title" type="text" class="form-control" id = "title"><br>
                    <input type="submit" class="btn btn-lg btn-warning">
                </form>
            </div>



            {% if book_name %}

            {% for i in range(book_name|length) %}
            <div class="col-md-4" style="margin-top:50px">
                <div class="card">
                    <div class="card-body">
                        <a href = "{{ url_for('book_desc', index=indices[i]) }}">
                        <img class="card-img-top" src="{{ image[i] }}">
                        <h2 class="text-white">{{ book_name[i] }}</p>
                        </a>
                        <h4 class="text-white">{{ author[i] }}</h4>
                        <h4 class="text-white">Rating : {{ rating[i] }}</h4>
                        <h4 class="text-white">Votes : {{ votes[i] }}</h4>
                        
                    </div>
                </div>
            </div>
        {% endfor %}

            {% endif %}




        </div>
    </div>

</body>
</html>